@charset "utf-8"
/*作品*/
.wen {text-indent:2em;}
.b {height:800px;width:800px;border:1px pink solid;line-height:1000px;margin:auto;}
p {
	text-indent:2em;
	width: 800px;
      /*  overflow-x: hidden;
        overflow-y: scroll;*/
        line-height: 30px;
        text-align: left;}
p::-webkit-scrollbar {display: none;}
